*{
   box-sizing: border-box;
}
body {
 font-size: 16px;
    color: #fff;
    background-color: #6c65cf;
   font-family: cursive;
   }
 
.navbar-brand h1 {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: #1101ee;
   font-size: 1.5em;
   text-transform: uppercase;
   font-weight: bold;
   text-shadow: 1px 1px 1px #222;
   margin-top: 0px;
   margin-bottom: 0px;
   line-height: .75;
}
#header-nav{
 background-color: #f6b319;
border-radius: 0;
border: 0;
}
 .text-center{
   text-transform: uppercase;
   font-size: 175%;
 }
   section{
      position: relative;
      background-color: rgb(88, 114, 153);
      border: 1px solid black;
      width: 100%;
      margin: auto;
   }
   .content{
      padding: 5px;
      border: none;
      background-color: rgb(88, 114, 153);
      color:white ;
      margin: 0px;
      height: 200px;
      overflow: auto;
   }
   
#header-nav{
    background-color: #0c9ee2;
   border-radius: 0;
   border: 0;
   }
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
 }
#nav-list {
   margin-top: 10px;
}
#nav-list a {
   color: #1511ff;
   text-align: center;

}
#nav-list a:hover {
   background: #E7E7E7;
 
}

@media (min-width:992px){
   .col-md-4{
      float: left;
      width: 33.3%;
   }
  
}
@media (min-width:768px) and (max-width:991px){
   .col-sm-6{ 
   float: left;
   width: 50%;
margin: auto ;
}
.col-sm-12{
   float: left;
   width: 100%;
   margin: auto;
}
}
@media (max-width:767px){
   .col-xs-12{
      float: left;
      width: 100%;
   }
}

   